body {
  margin: 0;
  font-family: Arial, sans-serif;
}

canvas {
  background: black;
  display: block;
  margin: 0 auto;
  position: relative;
}

.controls {
  text-align: center;
  margin-top: 10px;
  display: none; /* Ocultar por defecto */
}

/* Mostrar controles en móvil */
@media (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    z-index: 10;
  }

  .controls button {
    width: 70px;
    height: 70px;
    font-size: 28px;
    padding: 0;
    margin: 5px;
    display: inline-block;
    touch-action: manipulation;
  }

  #powerUp {
    width: 70px;
    height: 70px;
    font-size: 28px;
    touch-action: manipulation;
  }
}

/* Ocultar botones en PC */
@media (min-width: 769px) {
  .controls {
    display: none;
  }
}

button {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  margin: 5px auto;
  cursor: pointer;
  display: block;
  touch-action: manipulation;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  margin: 5px auto;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid white;
}

/* Menús */
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.85);
  padding: 20px;
  border: 2px solid white;
  text-align: center;
  color: white;
  display: none;
  max-width: 600px; /* Igual al ancho del canvas */
  box-sizing: border-box;
  z-index: 10;
}